{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.edit'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}
    <h1>{{ 'categories.edit'|trans({}, 'master_salesman') }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-success">{{ 'categories.save'|trans({}, 'master_salesman') }}</button>
    {{ form_end(edit_form) }}
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('category_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'categories.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
        <div class="float-right">
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-outline-danger">
                    {{ 'categories.delete'|trans({}, 'master_salesman') }}
                </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
