{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.index'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3>{{ 'categories.seeing'|trans({}, 'master_salesman') }}</h3>
        </div>
    </div>
    <br>
    <table class="table table-sm display" id="table">
        <thead>
        <tr>
            <th>{{ 'var.id'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'var.name'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'action.name'|trans({}, 'master_salesman') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('category_show', { 'id': category.id }) }}">
                        {{ 'action.show'|trans({}, 'master_salesman') }}
                    </a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('category_edit', { 'id': category.id }) }}">
                        {{ 'action.edit'|trans({}, 'master_salesman') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}" role="button">
        {{ 'categories.add'|trans({}, 'master_salesman') }}
    </a>
{% endblock %}
