{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.add'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}
    <h1>{{ 'categories.add'|trans({}, 'master_salesman') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'categories.add'|trans({}, 'master_salesman') }}</button>
    {{ form_end(form) }}
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('category_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'categories.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
    </div>
{% endblock %}
