{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.index'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}

    <p><strong>{{ 'categories.index'|trans({}, 'master_salesman') }}</strong></p>
    <h1>{{ category.name }}</h1>

    <dl class="row">
        <dt class="col-sm-3">{{ 'var.id'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ category.id }}</dd>

        <dt class="col-sm-3">{{ 'var.name'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ category.name }}</dd>

        <dt class="col-sm-3">{{ 'categories.preview_tag'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">
            <p><span class="badge badge-secondary">{{ category.name }}</span></p>
        </dd>
    </dl>
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('category_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'categories.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
        <div class="float-right">
            <a href="{{ path('category_edit', { 'id': category.id }) }}" aria-pressed="true">
                <button type="button" class="btn btn-outline-primary">
                    {{ 'action.edit'|trans({}, 'master_salesman') }}
                </button>
            </a>

        </div>
    </div>

{% endblock %}