{% extends 'base.html.twig' %}

{% block title %}Client Index{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h3>{{ 'clients.seeing'|trans({}, 'master_salesman') }}</h3>
        </div>
    </div>
    <br>
    <table class="table table-sm device" id="table">
        <thead>
            <tr>
                <th>{{ 'var.id'|trans({}, 'master_salesman') }}</th>
                <th>{{ 'var.name'|trans({}, 'master_salesman') }}</th>
                <th>{{ 'clients.document'|trans({}, 'master_salesman') }}</th>
                <th>{{ 'action.name'|trans({}, 'master_salesman') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.name }}</a></td>
                <td>{{ client.documentnumber }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('client_show', { 'id': client.id }) }}">
                        {{ 'action.show'|trans({}, 'master_salesman') }}
                    </a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('client_edit', { 'id': client.id }) }}">
                        {{ 'action.edit'|trans({}, 'master_salesman') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('client_new') }}" role="button">
        {{ 'clients.add'|trans({}, 'master_salesman') }}
    </a>

{% endblock %}