{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>{{ 'clients.add'|trans({}, 'master_salesman') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% for label, messages in app.flashes %}
            <div id="new-category-added" class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <strong>{{ 'attention.name'|trans({}, 'master_salesman') }}</strong>
                {% if label == 'warning' %}
                    {{ 'attention.document.valid'|trans({}, 'master_salesman') }}
                {% endif %}
                {% if label == 'danger' %}
                    {{ 'attention.document.exist'|trans({}, 'master_salesman') }}
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">{{ 'clients.add'|trans({}, 'master_salesman') }}</button>
    {{ form_end(form) }}
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('client_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'clients.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    $(document).ready(function () {
        var $seuCampoCpf = $("#appbundle_client_document_number");
        $seuCampoCpf.mask('000.000.000-00', {reverse: true});
    });

{% endblock %}
