{% extends 'base.html.twig' %}

{% block title %}Show Client{% endblock %}

{% block body %}

    <p><strong>Showing the client</strong></p>
    <h1>{{ client.name }}</h1>

    <dl class="row">
        <dt class="col-sm-3">{{ 'var.id'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ client.id }}</dd>

        <dt class="col-sm-3">{{ 'var.name'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ client.name }}</dd>

        <dt class="col-sm-3">{{ 'clients.document'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ client.documentnumber }}</dd>
    </dl>
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('client_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'clients.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
        <div class="float-right">
            <a href="{{ path('client_edit', { 'id': client.id }) }}" aria-pressed="true">
                <button type="button" class="btn btn-outline-primary">{{ 'action.edit'|trans({}, 'master_salesman') }}</button>
            </a>

        </div>
    </div>

{% endblock %}