<h1>
    Low stock
</h1>

<p>The following products are low in our stock (MasterSalesman):</p>

<table >
    <tr>
        <th>Product Id</th>
        <th>Product name</th>
        <th>Product quantity</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.stockquantity }}</td>
        </tr>
    {% endfor %}
</table>

<p>Get in <a href="{{ url('home') }}">MasterSalesman</a> or <a href="{{ url('fos_user_security_login') }}">Login</a>.</p>
<p>Don't replay this e-mail!</p>