{% extends 'base.html.twig' %}

{% block title %}{{ 'sales.index'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h3>{{ 'categories.seeing'|trans({}, 'master_salesman') }}</h3>
        </div>
    </div>
    <br>
    <table class="table table-sm display" id="table">
        <thead>
        <tr>
            <th>{{ 'var.id'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'sales.date'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'sales.client_name'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'sales.total_price'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'action.name'|trans({}, 'master_salesman') }}</th>
        </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.saledate|date("d/m/Y") }}</td>
                    <td>{{ sale.client.name }}</td>
                    <td>US$ {{ sale.saletotalprice }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('sale_show', { 'id': sale.id }) }}">
                            {{ 'action.show'|trans({}, 'master_salesman') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('sale_new') }}" role="button">{{ 'sales.add'|trans({}, 'master_salesman') }}</a>

{% endblock %}
