{% extends 'base.html.twig' %}

{% block title %}{{ 'sales.add'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}
    <h1>{{ 'sales.add'|trans({}, 'master_salesman') }}</h1>

    <div id="div-form">
        {{ form_start(form) }}
            <div id="sale-date">
                {{ form_row(form.sale_date) }}
            </div>
            <div id="client">
                {{ form_row(form.client) }}
            </div>
            <p>Items list</p>
            <div class="border">
                <div id="items-div">
                    <ul id="items-list" class="list-group" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
                        <!-- generate the list form to add new items -->
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <div id="total-price">
                {{ form_row(form.sale_total_price) }}
            </div>
            <div>
                <div class="float-left">
                    <button id="submit-btn" data-path="{{ path('sale_new') }}" type="button" class="btn btn-success">
                        {{ 'sales.add'|trans({}, 'master_salesman') }}
                    </button>
                </div>
                <div class="float-right">
                    <button id="math-total-price" data-path="{{ path('sale_new_total_price') }}" type="button" class="btn btn-outline-success">
                        {{ 'sales.calculate_price'|trans({}, 'master_salesman') }}
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    <br>
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('sale_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'sales.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    // setup an "add a item" link
    $addItemLink = $('<a id="add-item-btn" class="btn btn-primary" href="#" role="button">Add a item</a>');
    $newLinkLi = $('<li class="list-group-item"></li>').append($addItemLink);

    $collectionHolder = $('ul#items-list');

    // add the "add a item" anchor and li to the items ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    // initialize Sale Date field
    $('#sale-date').find('input').val(
        Date().getFullYear +'/' +
        Date().getMonth + '/' +
        Date().getDate
    );

    $addItemLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see code block below)
        addSaleItemForm($collectionHolder, $newLinkLi);
    });

    function addSaleItemForm($holder, $link)
    {
        // Get the data-prototype
        var prototype = $holder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Display the form in the page in an li, before the "Add a item" link li
        var $newFormLi = $('<li class="list-group-item sale-item"></li>').append(prototype);

        // also add a remove button
        $newFormLi.append('<a id="remove-item" href="#" class="badge badge-danger remove-item">Delete</a>');

        $newLinkLi.before($newFormLi);

        // handle the removal
        $('.remove-item').click(function(e) {
            e.preventDefault();

            $(this).parent().remove();

            return false;
        });
    }

    $('#math-total-price').on('click', function(e) {

        sale_items_list = [];

        $('ul#items-list li.sale-item').each(function() {
            localproducts = [];
            item = $(this);
            quantity = item.find('input').val();
            product_id = item.find('select').children('option:selected').val()
            localproducts.push({
                'quantity' : quantity == '' ? 0 : quantity,
                'product_id': product_id == '' ? -1 : product_id
            });
            sale_items_list.push(localproducts);
        });

        $.post($('#math-total-price').data('path'), { sale_items_list: sale_items_list })
            .done(function(data){
                $('#total-price').find('input').val(data);
            }
        );

    });

    $('#submit-btn').on('click', function(e)
    {
        sale_object = [];
        sale_items_list = [];

        $('ul#items-list li.sale-item').each(function() {
            localproducts = [];
            item = $(this);
            quantity = item.find('input').val();
            product_id = item.find('select').children('option:selected').val()
            localproducts.push({
                'quantity' : quantity == '' ? 0 : quantity,
                'product_id': product_id == '' ? -1 : product_id
            });
            sale_items_list.push(localproducts);
        });

        sale_object.push({
            'client_id' : $('div#client').find('select').children('option:selected').val(),
            'items' : [sale_items_list]
        });

        $.post($('#submit-btn').data('path'), { sale_items_list: sale_object })
            .done(function(data){
                window.location.replace(data);
            }
        );

    });

{% endblock %}