{% extends 'base.html.twig' %}

{% block title %}{{ 'sales.index'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}
    <p><strong>{{ 'sales.index'|trans({}, 'master_salesman') }}</strong></p>
    <h1>{{ sale.id }}</h1>


    <dl class="row">
        <dt class="col-sm-3">{{ 'var.id'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ sale.id }}</dd>

        <dt class="col-sm-3">{{ 'sales.date'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ sale.saledate|date('d/m/Y') }}</dd>

        <dt class="col-sm-3">{{ 'sales.client_name'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ sale.client.name }}</dd>

        <dt class="col-sm-3">{{ 'sales.product'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">
            {% for item in sale.items %}
                {{ item.quantity }}X <a href="{{ path('product_show', {'id':  item.product.id }) }}">{{ item.product.name }}</a>
                <br>
            {% endfor %}
        </dd>

        <dt class="col-sm-3">{{ 'sales.total_price'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">US$ {{ sale.saletotalprice }}</dd>

    </dl>
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('sale_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'sales.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
        <div class="float-right">
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-outline-danger">
                    {{ 'sales.delete'|trans({}, 'master_salesman') }}
                </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}