<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div id="app" class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">MasterSalesman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="float-left">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted("ROLE_USER") %}
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_CLIENT_MANAGER') or is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ path('client_index') }}" id="navbarDropdownClient" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'clients.name'|trans({}, 'master_salesman') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownClient">
                                    <a class="dropdown-item" href="{{ path('client_index') }}">
                                        {{ 'clients.index'|trans({}, 'master_salesman') }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('client_new') }}">
                                        {{ 'clients.add'|trans({}, 'master_salesman') }}
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_PRODUCT_MANAGER') or is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProduct" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'products.name'|trans({}, 'master_salesman') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownProduct">
                                    <a class="dropdown-item" href="{{ path('product_index') }}">
                                        {{ 'products.index'|trans({}, 'master_salesman') }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('product_new') }}">
                                        {{ 'products.add'|trans({}, 'master_salesman') }}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('category_index') }}">
                                        {{ 'categories.index'|trans({}, 'master_salesman') }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('category_new') }}">
                                        {{ 'categories.add'|trans({}, 'master_salesman') }}
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_SALE_MANAGER') or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProduct" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'sales.name'|trans({}, 'master_salesman') }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownProduct">
                                <a class="dropdown-item" href="{{ path('sale_index') }}">
                                    {{ 'sales.index'|trans({}, 'master_salesman') }}
                                </a>
                                <a class="dropdown-item" href="{{ path('sale_new') }}">
                                    {{ 'sales.add'|trans({}, 'master_salesman') }}
                                </a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <span class="navbar-text">
            {% if is_granted('ROLE_USER') %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Logout</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Login</a>
            {% endif %}
        </span>
    </nav>
</div>

<main role="main" class="container">
    <div class="card">
        <div class="card-body">
            {% block body %}{% endblock %}
        </div>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


<script language="JavaScript">
    $(document).ready( function () {
        $('#table').DataTable();
    });
    {% block javascript %}{% endblock %}
</script>

</body>
</html>
