{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Price</th>
            <th>Quantity</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for saleItem in saleItems %}
            <tr>
                <td><a href="{{ path('saleitem_show', { 'id': saleItem.id }) }}">{{ saleItem.price }}</a></td>
                <td>{{ saleItem.quantity }}</td>
                <td>{{ saleItem.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('saleitem_show', { 'id': saleItem.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('saleitem_edit', { 'id': saleItem.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saleitem_new') }}">Create a new saleItem</a>
        </li>
    </ul>
{% endblock %}
