{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saleitem</h1>

    <table>
        <tbody>
            <tr>
                <th>Price</th>
                <td>{{ saleItem.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ saleItem.quantity }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ saleItem.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saleitem_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('saleitem_edit', { 'id': saleItem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
