{% extends 'base.html.twig' %}

{% block title %}{{ 'products.index'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h3>{{ 'products.seeing'|trans({}, 'master_salesman') }}</h3>
        </div>
    </div>
    <br>
    <table class="table table-sm display" id="table">
        <thead>
        <tr>
            <th>{{ 'var.id'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'var.name'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'products.price'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'products.stock'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'products.categories'|trans({}, 'master_salesman') }}</th>
            <th>{{ 'action.name'|trans({}, 'master_salesman') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a></td>
                <td>US$ {{ product.price }}</td>
                <td>{{  product.stockquantity }}
                        {% if product.stockquantity <=5 %}
                            <span class="badge badge-warning">low</span>
                        {% endif %}
                </td>
                <td>
                    {% for category in product.categories %}
                        <a href="{{ path('category_show', {'id': category.id}) }}"><span class="badge badge-secondary">{{ category.name }}</span></a>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('product_show', { 'id': product.id }) }}">
                        {{ 'action.show'|trans({}, 'master_salesman') }}
                    </a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('product_edit', { 'id': product.id }) }}">
                        {{ 'action.edit'|trans({}, 'master_salesman') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_new') }}" role="button">
        {{ 'products.add'|trans({}, 'master_salesman') }}
    </a>

{% endblock %}
