{% extends 'base.html.twig' %}

{% block title %}{{ 'products.add'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}
    <h1>{{ 'products.add'|trans({}, 'master_salesman') }}</h1>

    {{ form_start(form) }}
    <div id="div-name">
        {{ form_row(form.name) }}
    </div>
    <div id="div-price">
        {{ form_row(form.price) }}
    </div>
    <div id="div-quantity">
        {{ form_row(form.stock_quantity) }}
    </div>
    {{ form_row(form.categories) }}

            <div id="new-category-added" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ 'categories.added'|trans({}, 'master_salesman') }}</strong> {{ 'categories.added_message'|trans({}, 'master_salesman') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <button type="submit" class="btn btn-success">{{ 'products.add'|trans({}, 'master_salesman') }}</button>
    {{ form_end(form) }}
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('product_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">{{ 'products.back'|trans({}, 'master_salesman') }}</a>
        </div>
        <div class="float-right">
            <button id="modal-btn" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-action" data-whatever="@mdo">
                {{ 'categories.add'|trans({}, 'master_salesman') }}
            </button>
        </div>
    </div>

    <div class="modal fade" id="modal-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'categories.add'|trans({}, 'master_salesman') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">{{ 'categories.new_name'|trans({}, 'master_salesman') }}</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="add-new-category-btn" data-path="{{ path('category_new') }}" type="button" class="btn btn-success" data-dismiss="modal">
                        {{ 'categories.add'|trans({}, 'master_salesman') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    if(sessionStorage.getItem("category_added") == "true")
    {
        $('#new-category-added').show();
        $('div#div-name').find('input').val(
            sessionStorage.getItem('product_name')
        );
        $('div#div-price').find('input').val(
            sessionStorage.getItem('product_price')
        );
        $('div#div-quantity').find('input').val(
            sessionStorage.getItem('product_quantity')
        );
        sessionStorage.removeItem("category_added");
        sessionStorage.removeItem("product_name");
        sessionStorage.removeItem("product_price");
        sessionStorage.removeItem("product_quantity");
    }
    else
    {
        $('#new-category-added').hide();
    }

    $('#modal-btn', function() {
        $('#exampleModal').on('shown.bs.modal', function(e){
            // just open the modal
        });
    });


    $('#add-new-category-btn').on('click', function(e){

        product_name = $('div#div-name').find('input').val();
        product_price = $('div#div-price').find('input').val();
        product_qtd_stock = $('div#div-quantity').find('input').val();

        $.post($('#add-new-category-btn').data('path'), { category_name: $('#recipient-name').val() })
            .done(function(data){
                location.reload();
                sessionStorage.setItem("category_added", "true");
                sessionStorage.setItem("product_name", product_name);
                sessionStorage.setItem("product_price", product_price);
                sessionStorage.setItem("product_quantity", product_qtd_stock);
            }
        );

    });

{% endblock %}