{% extends 'base.html.twig' %}

{% block title %}{{ 'products.index'|trans({}, 'master_salesman') }}{% endblock %}

{% block body %}

    <p><strong>{{ 'products.index'|trans({}, 'master_salesman') }}</strong></p>
    <h1>{{ product.name }}</h1>

    <dl class="row">
        <dt class="col-sm-3">{{ 'var.id'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ product.id }}</dd>

        <dt class="col-sm-3">{{ 'products.name_sing'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ product.name }}</dd>

        <dt class="col-sm-3">{{ 'products.price'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">
            <p>US$ {{ product.price }}</p>
        </dd>

        <dt class="col-sm-3">{{ 'products.stock'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">{{ product.stockquantity }}</dd>

        <dt class="col-sm-3 text-truncate">{{ 'products.categories'|trans({}, 'master_salesman') }}</dt>
        <dd class="col-sm-9">
            {% for category in product.categories %}
                <a href="{{ path('category_show', {'id': category.id}) }}">
                    <span class="badge badge-secondary">{{ category.name }}</span>
                </a>
            {% endfor %}
        </dd>
    </dl>
    <br>
    <div>
        <div class="float-left">
            <a href="{{ path('product_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">
                {{ 'products.back'|trans({}, 'master_salesman') }}
            </a>
        </div>
        <div class="float-right">
            <a href="{{ path('product_edit', { 'id': product.id }) }}" aria-pressed="true">
                <button type="button" class="btn btn-outline-primary">{{ 'action.edit'|trans({}, 'master_salesman') }}</button>
            </a>

        </div>
    </div>

{% endblock %}